<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((message) => { %>
      <div class="messagebox">
        <p>Message: <%= message.text %></p>
        <p>Posted by: <%= message.user %></p>
        <p>Post Date: <%= message.added %></p>
      </div>
    <% }); %>
  </body>
</html>
